{{!
	Índice. Recibe el contexto de data-toc (array-sections recursivo, claves
	legacy de SkinComponentTableOfContents). No reestructura: refleja la
	jerarquía de secciones tal cual la entrega el core.
}}
<ul class="sn-toc-list">
	{{#array-sections}}
	{{>TableOfContents__line}}
	{{/array-sections}}
</ul>
